@@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


html {
  padding: 0px;
}
body {
  color: #555;
  margin: 0;
  font-family: 'Montserrat',sans-serif;
}
h1, h2, h3, h4 {
  color: #333;
}
p {
  line-height: 1.5;
}
hr {
 background: #333;
 border: none;
 color: #333;
 height: 1px;
 width: 100%;
 margin:
}
a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  color: #F6A623;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}



/*header*/

#header {
  background-color: #A4A4A4;
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-bottom: 1px solid black;
  position: sticky !important;
  position: absolute;
}
#header a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
#header a:hover {
  color: #F6A623;
}
#header-titel {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
}
#header-titel img {
  height: 40px;
  padding: 5px 0 0 0;
}
#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}
#header-nav li {
  display: inline;
  padding-left: 20px;
}



/*content*/

.post {
  max-width: 800px;
  margin: 0px auto;
  padding: 60px 0;
  top: 30%;
  height: 90%;
}
.post-autor img {
  width: 75px;
  height: 75px;
  vertical-align: middle;
}
.post-autor span {
  margin-left: 16px;
  font-size: 24px;
  font-weight: bold;
}
.post-autor span a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.post-autor span a:hover {
  color: #F6A623;
}

.post-autor2 img {
  width: 75px;
  height: 75px;
  vertical-align: middle;
}
.post-autor2 span {
  margin-left: 16px;
  font-size: 24px;
  font-weight: bold;
}
.post-autor2 span a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.post-autor2 span a:hover {
  color: #F6A623;
}
.post-datum {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.post-autor img, .about-autor img {
  border-radius: 50%;
}
.post-autor2 img {
  border-radius: 50%;
}
.post-container:nth-child(even) {
  background-color: #f2f2f2
}



/*Prefooter*/

#prefooter {
  padding: 50px auto;
  width: auto;
}
#prefooter h3 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#prefooter p {
  color: white;
}
#prefooter a {
  color: #424242;
  font-size: 18px;
}
#prefooter a:hover {
  color: #F6A623;
}
.info {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
.link-container  {
  text-align: center;
  background-color: #D8D8D8;
}



/*Footer*/

#footer {
  background-color: #A4A4A4;
  width: auto;
  height: 20px;
  line-height: 27px;
  margin: 0 0 0 0;
  padding: 5px 130px 40px 0px;
  border-top: 1px solid black;
}
#footer li {
  display: inline;
  padding-left: 110px;
  text-align: center;
}
#footer a {
  color: #000000;
  font-size: 18px;
}
#footer a:hover {
  color: #F6A623;
}
